
body{
  margin: 0;
  padding: 0;
}
section{
  margin: 80px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
}

.parallax {
  /* The image used */
  background-image: url("../img/Black_white_beatch");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:900px;
  background-color:red;
  font-size: 36px;
  
}

.parallax_to{
  /* The image used */
  background-image: url("../img/2_White_castle.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:900px;
  background-color:red;
  font-size: 36px;
  
}

.parallax_tre{
  /* The image used */
  background-image: url("../img/3_Danish_flag.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:900px;
  background-color:red;
  font-size: 36px;
  
}

.parallax_fire{
  /* The image used */
  background-image: url("../img/4_Blue_beatch.jpeg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:900px;
  /*background-color:red;*/
  font-size: 36px;
  

}

/* Navigationsbar - Menulinje -------------------------- */

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 1.2rem;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-top: 8px;
  
}

.dropdown .dropbtn {
  font-size: 1.2rem;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.2rem;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer -------------------------- */